openapi: 3.0.3
info:
  title: GRO.data Dataverse REST Access Pids API
  description: Native REST/search API for the GRO.data (Göttingen Research Online) Dataverse research-data repository operated by the Göttingen eResearch Alliance. Based on Dataverse 6.4.
  version: '6.4'
servers:
- url: https://data.goettingen-research-online.de/api
  description: GRO.data (Göttingen Research Online) Dataverse REST API
tags:
- name: Pids
paths:
  /pids:
    get:
      operationId: Pids_getPid
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/providers:
    get:
      operationId: Pids_getPidProviders
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/providers/{persistentId}:
    get:
      operationId: Pids_getPidProviderId
      parameters:
      - name: persistentId
        in: path
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/unreserved:
    get:
      operationId: Pids_getUnreserved
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/{id}/delete:
    delete:
      operationId: Pids_deletePid
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/{id}/reserve:
    post:
      operationId: Pids_reservePid
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
