openapi: 3.0.3
info:
  title: GRO.data Dataverse REST Access Users API
  description: Native REST/search API for the GRO.data (Göttingen Research Online) Dataverse research-data repository operated by the Göttingen eResearch Alliance. Based on Dataverse 6.4.
  version: '6.4'
servers:
- url: https://data.goettingen-research-online.de/api
  description: GRO.data (Göttingen Research Online) Dataverse REST API
tags:
- name: Users
paths:
  /users/:me:
    get:
      operationId: Users_getAuthenticatedUserByToken
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/token:
    get:
      operationId: Users_getTokenExpirationDate
      responses:
        '200':
          description: OK
      tags:
      - Users
    delete:
      operationId: Users_deleteToken
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/token/recreate:
    post:
      operationId: Users_recreateToken
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{consumedIdentifier}/mergeIntoUser/{baseIdentifier}:
    post:
      operationId: Users_mergeInAuthenticatedUser
      parameters:
      - name: baseIdentifier
        in: path
        required: true
        schema:
          type: string
      - name: consumedIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{identifier}/changeIdentifier/{newIdentifier}:
    post:
      operationId: Users_changeAuthenticatedUserIdentifier
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: newIdentifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{identifier}/removeRoles:
    post:
      operationId: Users_removeUserRoles
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{identifier}/traces:
    get:
      operationId: Users_getTraces
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
  /users/{identifier}/traces/{element}:
    get:
      operationId: Users_getTracesElement
      parameters:
      - name: element
        in: path
        required: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Users
