openapi: 3.0.3
info:
  title: GRO.data Dataverse REST Access Meta API
  description: Native REST/search API for the GRO.data (Göttingen Research Online) Dataverse research-data repository operated by the Göttingen eResearch Alliance. Based on Dataverse 6.4.
  version: '6.4'
servers:
- url: https://data.goettingen-research-online.de/api
  description: GRO.data (Göttingen Research Online) Dataverse REST API
tags:
- name: Meta
paths:
  /meta/datafile/{fileId}:
    get:
      operationId: Meta_datafile
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: exclude
        in: query
        schema:
          type: string
      - name: fileMetadataId
        in: query
        schema:
          format: int64
          type: integer
      - name: include
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                type: string
      deprecated: true
      tags:
      - Meta
  /meta/dataset/{datasetId}:
    get:
      operationId: Meta_dataset
      parameters:
      - name: datasetId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: exclude
        in: query
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                type: string
      deprecated: true
      tags:
      - Meta
