openapi: 3.0.3
info:
  title: GRO.data Dataverse REST Access Licenses API
  description: Native REST/search API for the GRO.data (Göttingen Research Online) Dataverse research-data repository operated by the Göttingen eResearch Alliance. Based on Dataverse 6.4.
  version: '6.4'
servers:
- url: https://data.goettingen-research-online.de/api
  description: GRO.data (Göttingen Research Online) Dataverse REST API
tags:
- name: Licenses
paths:
  /licenses:
    get:
      operationId: Licenses_getLicenses
      responses:
        '200':
          description: OK
      tags:
      - Licenses
    post:
      operationId: Licenses_addLicense
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/default:
    get:
      operationId: Licenses_getDefault
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/default/{id}:
    put:
      operationId: Licenses_setDefault
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/{id}:
    get:
      operationId: Licenses_getLicenseById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
    delete:
      operationId: Licenses_deleteLicenseById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/{id}/:active/{activeState}:
    put:
      operationId: Licenses_setActiveState
      parameters:
      - name: activeState
        in: path
        required: true
        schema:
          type: boolean
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/{id}/:sortOrder/{sortOrder}:
    put:
      operationId: Licenses_setSortOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: sortOrder
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
