openapi: 3.2.0
info:
  title: University Of Gottingen OAI PMH API
  version: '2.0'
  x-operator: institution
  x-refined-note:
  - x-provenance differs across the merged source definitions and was not carried
  description: 'Operations tagged OAI-PMH across 2 of this provider''s published API definitions: university-of-gottingen-ediss-oai-pmh-openapi.yml, university-of-gottingen-gdz-oai-pmh-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ediss.uni-goettingen.de
  description: eDiss Göttingen — electronic dissertations and theses (production)
- url: https://gdz.sub.uni-goettingen.de
  description: Göttinger Digitalisierungszentrum, SUB Göttingen (production)
tags:
- name: oai pmh
  description: Open Archives Initiative Protocol for Metadata Harvesting, version 2.0.
paths:
  /oai/request:
    get:
      operationId: edissOaiRequest
      summary: Issue an OAI-PMH 2.0 request against eDiss Göttingen
      description: 'Single OAI-PMH entry point for the dissertation server. Confirmed verbs: Identify, ListMetadataFormats, ListSets. Confirmed metadataPrefix values: oai_dc, xMetaDissPlus, epicur, picaxml.'
      tags:
      - oai pmh
      parameters:
      - name: verb
        in: query
        required: true
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: metadataPrefix
        in: query
        required: false
        description: 'Confirmed available: oai_dc, xMetaDissPlus, epicur, picaxml.'
        schema:
          type: string
          examples:
          - oai_dc
          - xMetaDissPlus
          - epicur
          - picaxml
      - name: identifier
        in: query
        required: false
        description: OAI identifier of a single record, required for GetRecord.
        schema:
          type: string
          examples:
          - oai:ediss.uni-goettingen.de:11858/1234
      - name: set
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: until
        in: query
        required: false
        schema:
          type: string
      - name: resumptionToken
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: An OAI-PMH XML response. Protocol-level failures are returned with HTTP 200 inside an <error> element, per the OAI-PMH specification. Note that the HTML interface of this host sits behind a proof-of-work bot challenge while /oai/request itself does not.
          content:
            text/xml:
              schema:
                type: string
                description: OAI-PMH 2.0 XML document rooted at <OAI-PMH>.
    servers:
    - url: https://ediss.uni-goettingen.de
      description: eDiss Göttingen — electronic dissertations and theses (production)
  /oai2/:
    get:
      operationId: oaiRequest
      summary: Issue an OAI-PMH 2.0 request
      description: 'Single OAI-PMH entry point. The `verb` parameter selects the operation. Confirmed verbs: Identify, ListMetadataFormats, ListSets, ListIdentifiers, ListRecords, GetRecord. Confirmed metadataPrefix values: `oai_dc` and `mets` (METS/MODS).'
      tags:
      - oai pmh
      parameters:
      - name: verb
        in: query
        required: true
        description: The OAI-PMH verb to execute.
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: metadataPrefix
        in: query
        required: false
        description: 'Metadata format for ListIdentifiers, ListRecords and GetRecord. Confirmed available: oai_dc, mets.'
        schema:
          type: string
          examples:
          - oai_dc
          - mets
      - name: identifier
        in: query
        required: false
        description: OAI identifier of a single record, required for GetRecord.
        schema:
          type: string
          examples:
          - oai:gdz.sub.uni-goettingen.de:PPN519929969
      - name: set
        in: query
        required: false
        description: Restrict a listing to one set. Sets are GDZ collections, e.g. dc_thaer-bibliothek, dc_nordamericana, dc_blumenbachiana, dc_digiwunschbuch.
        schema:
          type: string
      - name: from
        in: query
        required: false
        description: Lower bound of the selective-harvesting datestamp window (YYYY-MM-DDThh:mm:ssZ).
        schema:
          type: string
      - name: until
        in: query
        required: false
        description: Upper bound of the selective-harvesting datestamp window (YYYY-MM-DDThh:mm:ssZ).
        schema:
          type: string
      - name: resumptionToken
        in: query
        required: false
        description: Flow-control token returned by a previous incomplete list response.
        schema:
          type: string
      responses:
        '200':
          description: An OAI-PMH XML response. Protocol-level failures (badVerb, badArgument, idDoesNotExist, cannotDisseminateFormat, noRecordsMatch) are also returned with HTTP 200 inside an <error> element, per the OAI-PMH specification.
          content:
            text/xml:
              schema:
                type: string
                description: OAI-PMH 2.0 XML document rooted at <OAI-PMH>.
    servers:
    - url: https://gdz.sub.uni-goettingen.de
      description: Göttinger Digitalisierungszentrum, SUB Göttingen (production)
x-refined-from:
- university-of-gottingen-ediss-oai-pmh-openapi.yml
- university-of-gottingen-gdz-oai-pmh-openapi.yml
