openapi: 3.2.0
info:
  title: SUB Göttingen and Presentation Interfaces IIIF Image API
  description: IIIF Image API 2.0 (level 2) and IIIF Presentation API deployment operated by the Göttingen State and University Library (SUB Göttingen) for the Göttinger Digitalisierungszentrum (GDZ) and the university's digitised collections.
  version: image-2.0
  contact:
    name: Göttinger Digitalisierungszentrum (GDZ), SUB Göttingen
    email: gdz@sub.uni-goettingen.de
    url: https://gdz.sub.uni-goettingen.de/
  x-operator: institution
  x-provenance:
    generated: '2026-08-30'
    method: generated
    x-evidence-method: probed
    source: Live probes on 2026-08-30 of https://gdz.sub.uni-goettingen.de/iiif/presentation/PPN519929969/manifest (200, IIIF Presentation manifest), https://images.sub.uni-goettingen.de/iiif/image/gdz:PPN519929969:00000001/info.json (200, IIIF Image API 2.0 level2 profile) and a full/96,/0/default.jpg derivative (200, image/jpeg). Written by API Evangelist from observed responses.
servers:
- url: https://images.sub.uni-goettingen.de
  description: SUB Göttingen IIIF Image API 2.0 image server
- url: https://gdz.sub.uni-goettingen.de
  description: GDZ IIIF Presentation manifest routing
tags:
- name: IIIF Image
  description: IIIF Image API 2.0, level 2 compliance as advertised by the live info.json profile.
paths:
  /iiif/image/{identifier}/info.json:
    get:
      operationId: iiifImageInfo
      summary: IIIF Image API image information request
      tags:
      - IIIF Image
      description: Returns the image information document for a digitised page. The live response declares @context http://iiif.io/api/image/2/context.json and profile https://iiif.io/api/image/2/level2.json, with tile width/height 512 and scaleFactors 1,2,4,8,16.
      parameters:
      - name: identifier
        in: path
        required: true
        description: 'IIIF image identifier, Göttingen scheme: gdz:PPN<record>:<zero-padded page>.'
        schema:
          type: string
          examples:
          - gdz:PPN519929969:00000001
      responses:
        '200':
          description: IIIF Image API 2.0 information document.
          content:
            application/json:
              schema:
                type: object
                required:
                - '@context'
                - '@id'
                - width
                - height
                - profile
                properties:
                  '@context':
                    type: string
                  '@id':
                    type: string
                  protocol:
                    type: string
                  width:
                    type: integer
                  height:
                    type: integer
                  profile:
                    type: string
                  sizes:
                    type: array
                    items:
                      type: object
                      properties:
                        width:
                          type: number
                        height:
                          type: number
                  tiles:
                    type: array
                    items:
                      type: object
                      properties:
                        width:
                          type: integer
                        height:
                          type: integer
                        scaleFactors:
                          type: array
                          items:
                            type: integer
  /iiif/image/{identifier}/{region}/{size}/{rotation}/{quality}.{format}:
    get:
      operationId: iiifImageRequest
      summary: IIIF Image API image request
      tags:
      - IIIF Image
      description: Standard IIIF Image API 2.0 image request. Confirmed live with full/96,/0/default.jpg returning image/jpeg.
      parameters:
      - name: identifier
        in: path
        required: true
        schema:
          type: string
      - name: region
        in: path
        required: true
        schema:
          type: string
          examples:
          - full
      - name: size
        in: path
        required: true
        schema:
          type: string
          examples:
          - 96,
      - name: rotation
        in: path
        required: true
        schema:
          type: string
          examples:
          - '0'
      - name: quality
        in: path
        required: true
        schema:
          type: string
          examples:
          - default
      - name: format
        in: path
        required: true
        schema:
          type: string
          examples:
          - jpg
      responses:
        '200':
          description: The requested image derivative.
          content:
            image/jpeg: {}
