openapi: 3.0.3
info:
  title: GRO.data Dataverse REST Access Notifications API
  description: Native REST/search API for the GRO.data (Göttingen Research Online) Dataverse research-data repository operated by the Göttingen eResearch Alliance. Based on Dataverse 6.4.
  version: '6.4'
servers:
- url: https://data.goettingen-research-online.de/api
  description: GRO.data (Göttingen Research Online) Dataverse REST API
tags:
- name: Notifications
paths:
  /notifications/all:
    get:
      operationId: Notifications_getAllNotificationsForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedEmails:
    get:
      operationId: Notifications_getMutedEmailsForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedEmails/{typeName}:
    put:
      operationId: Notifications_muteEmailsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
    delete:
      operationId: Notifications_unmuteEmailsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedNotifications:
    get:
      operationId: Notifications_getMutedNotificationsForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedNotifications/{typeName}:
    put:
      operationId: Notifications_muteNotificationsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
    delete:
      operationId: Notifications_unmuteNotificationsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/{id}:
    delete:
      operationId: Notifications_deleteNotificationForUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Notifications
