# x-archived-from: university-of-gottingen-ediss-oai-pmh-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.1.0
info:
  title: eDiss Göttingen OAI-PMH Metadata Harvesting Interface
  description: >-
    OAI-PMH 2.0 harvesting interface for eDiss Göttingen, the University of Göttingen's
    electronic dissertations and theses server, operated by SUB Göttingen on the university's own
    `uni-goettingen.de` domain. The live Identify response names the repository "eDiss Göttingen"
    with adminEmail ediss@sub.uni-goettingen.de and repositoryIdentifier ediss.uni-goettingen.de.

    Alongside oai_dc this endpoint disseminates the German national formats xMetaDissPlus, epicur
    and picaxml — the German long-term-archiving and PICA cataloguing profiles — which is a
    Göttingen/DNB integration fact rather than anything the repository software supplies by
    default.

    Every verb and metadata prefix below was confirmed against the live endpoint on 2026-08-30.
  version: '2.0'
  contact:
    name: eDiss, SUB Göttingen
    email: ediss@sub.uni-goettingen.de
    url: https://ediss.uni-goettingen.de/
  x-operator: institution
  x-provenance:
    generated: '2026-08-30'
    method: generated
    x-evidence-method: probed
    source: >-
      Live probes of https://ediss.uni-goettingen.de/oai/request (Identify, ListMetadataFormats,
      ListSets) on 2026-08-30. Written by API Evangelist from observed responses; the university
      publishes no OpenAPI of its own for this endpoint.
servers:
- url: https://ediss.uni-goettingen.de
  description: eDiss Göttingen — electronic dissertations and theses (production)
tags:
- name: OAI-PMH
  description: Open Archives Initiative Protocol for Metadata Harvesting, version 2.0.
paths:
  /oai/request:
    get:
      operationId: edissOaiRequest
      summary: Issue an OAI-PMH 2.0 request against eDiss Göttingen
      description: >-
        Single OAI-PMH entry point for the dissertation server. Confirmed verbs: Identify,
        ListMetadataFormats, ListSets. Confirmed metadataPrefix values: oai_dc, xMetaDissPlus,
        epicur, picaxml.
      tags:
      - OAI-PMH
      parameters:
      - name: verb
        in: query
        required: true
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: metadataPrefix
        in: query
        required: false
        description: 'Confirmed available: oai_dc, xMetaDissPlus, epicur, picaxml.'
        schema:
          type: string
          examples:
          - oai_dc
          - xMetaDissPlus
          - epicur
          - picaxml
      - name: identifier
        in: query
        required: false
        description: OAI identifier of a single record, required for GetRecord.
        schema:
          type: string
          examples:
          - 'oai:ediss.uni-goettingen.de:11858/1234'
      - name: set
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: until
        in: query
        required: false
        schema:
          type: string
      - name: resumptionToken
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: >-
            An OAI-PMH XML response. Protocol-level failures are returned with HTTP 200 inside an
            <error> element, per the OAI-PMH specification. Note that the HTML interface of this
            host sits behind a proof-of-work bot challenge while /oai/request itself does not.
          content:
            text/xml:
              schema:
                type: string
                description: OAI-PMH 2.0 XML document rooted at <OAI-PMH>.
